@model IEnumerable<NMVS.Models.DbModels.Shipper>

@{
    ViewData["Title"] = "Issue note";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mt-4">
    <div class="col-12">
        <div class="card">
            <!-- Card header -->
            <div class="card-header">
                <h3 class="mb-0">@ViewData["Title"]</h3>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-flush" id="datatable-search">
                        <thead>
                            <tr>
                                <th>
                                    Id
                                </th>
                                <th>
                                    Vehicle
                                </th>
                                <th>
                                    Driver
                                </th>
                                <th>
                                    Loading port
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ShpTo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ShpVia)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DateIn)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ActualIn)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ActualOut)
                                </th>
                                <th>
                                    Status
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.RegisteredBy)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ShpId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ShpDesc)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Driver) (@Html.DisplayFor(modelItem => item.DrContact))
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Loc)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ShpTo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ShpVia)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DateIn)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ActualIn)
                                </td>
                                <td>
                                    @if (string.IsNullOrEmpty(item.CheckOutBy))
                                    {


                                        <div class="badge bg-gradient-info">Not yet</div>
                                    }
                                    else
                                    {
                                        <div class="badge bg-gradient-secondary">Checked out</div>
                                    }
                                </td>

                                <td>
                                    @if (item.IssueConfirmed)
                                    {


                                        <div class="badge bg-success">Confirmed</div>
                                    }
                                    else
                                    {
                                        <div class="badge bg-secondary">Pending</div>
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RegisteredBy)
                                </td>
                                <td>
                                    <a asp-action="IssueNoteVehicleDetails" class="btn btn-outline-primary btn-sm" asp-route-id="@item.ShpId">Details</a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            
        </div>
    </div>
</div>
<script src="~/assets/datatable/datatables.min.js"></script>
<script>

    $(document).ready(function () {
        $('.nav-request').addClass('active');
        $('.nav-rq-in-ve').addClass('active');
        $('#navRequest').addClass('show');
        $('#datatable-search').DataTable();
    });
</script>
