@model NMVS.Models.ViewModels.IssueNoteShipperVm

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mt-4">
    <div class="col-12">
        <div class="card">
            <!-- Card header -->
            <div class="card-header">
                <h3 class="mb-0">@ViewData["Title"]</h3>
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-2">
                        ID
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Shp.ShpId)
                    </dd>
                    <dt class="col-sm-2">
                        Vehicle
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Shp.ShpDesc)
                    </dd>
                    <dt class="col-sm-2">
                        Driver
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Shp.Driver)
                    </dd>
                    <dt class="col-sm-2">
                        Driver Contact
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Shp.DrContact)
                    </dd>

                </dl>
            </div>
            <div class="card-footer">
                @if (!Model.Shp.IssueConfirmed)
                {
                    <span class="btn btn-outline-primary" onclick="closeNote(@Model.Shp.ShpId)">Confirm and Close</span>

                }
                else
                {
                    <a asp-action="GetIssueNote" class="btn btn-outline-info" asp-route-id="@Model.Shp.ShpId">Download issue note</a>
                }

                <a asp-action="IssueNoteSo" class="btn btn-secondary">Back to browse</a>

            </div>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-12">
        <div class="card">
            <!-- Card header -->
            <div class="card-header">
                <h3 class="mb-0">Items</h3>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-flush table-bordered" id="datatable-search">
                        <thead>
                            <tr>
                                <th>
                                    Request Id
                                </th>
                                <th>
                                    Inventory Id
                                </th>
                                <th>
                                    Item No.
                                </th>
                                <th>
                                    Item name
                                </th>
                                <th>
                                    Quantity
                                </th>
                                <th>
                                    Sold-to
                                </th>
                                <th>
                                    Ship-to
                                </th>
                                <th>
                                    Ship-to Address
                                </th>

                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var t in Model.Det)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => t.RqId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => t.InventoryId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => t.ItemNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => t.ItemName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => t.Quantity)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => t.SoldToName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => t.ShipToName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => t.ShipToAddr)
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
<script src="~/assets/js/bootbox/bootbox.min.js"></script>
<script>

    function closeNote(isId) {
        var routeURL = location.protocol + "//" + location.host;
        var isNId = parseInt(isId);
        bootbox.confirm({
            message: '<div class="text-danger">Is all the information correct? </div>',
            callback: function (rs) {
                if (rs) {
                    var postData = {
                        IsNId: isNId
                    };
                    $.ajax({
                        method: "POST",
                        url: routeURL + '/api/InvRequest/CloseSoNote',
                        contentType: "application/json; charset=utf8",
                        data: JSON.stringify(postData),
                        success: function (common) {
                            if (common.status == 1) {
                                bootbox.alert({
                                    message: common.message
                                });
                                setTimeout(function () {
                                    window.location.href = window.location.href;
                                }, 1000);
                            } else if (common.status == 0) {
                                bootbox.alert('<div class="text-danger">Failed! ' + common.message + '</div>');
                            }
                            else {
                                bootbox.alert('<div class="text-danger">Failed! ' + common.message + '</div>');
                            }
                        }

                    });
                }
            }
        });


    }

    $(document).ready(function () {
        $('.nav-request').addClass('active');
        $('.nav-rq-in').addClass('active');
        $('#navRequest').addClass('show');
    });
</script>