@model IEnumerable<NMVS.Models.ViewModels.InvRequestVm>

@{
    ViewData["Title"] = "Request history";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mt-4">
    <div class="col-12">
        <div class="card">
            <!-- Card header -->
            <div class="card-header">
                <h3 class="mb-0">@ViewData["Title"]</h3>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-flush" id="datatable-search">
                        <thead>
                            <tr>
                                <th>
                                    ID
                                </th>                                
                                <th>
                                    Status
                                </th>
                                <th>
                                    Sold-to
                                </th>
                                <th>
                                    Ship-to
                                </th>
                                <th>
                                    Created on
                                </th>
                                <th>
                                    Note
                                </th>
                            </tr>

                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <a href="/InvRequests/RequestDetail/@item.Id"><div class="btn btn-outline-info">@Html.DisplayFor(modelItem => item.Id)</div></a>
                                    </td>                                    
                                    <td>
                                        @if (item.closed)
                                        {
                                            <span class="badge bg-secondary">Closed</span>
                                        }else{
                                            if (item.SoConfirm)
                                            {
                                                if (item.Confirmed == null)
                                                {
                                                    <span class="badge bg-warning">Unconfirmed</span>
                                                }else if (item.Confirmed == false)
                                                {
                                                    <span class="badge bg-danger">Rejected</span>
                                                }else if (item.Confirmed == true)
                                                {
                                                    <span class="badge bg-success">Picking</span>
                                                }
                                            }else{
                                                <span class="badge bg-secondary">Pending submit</span>
                                            }
                                        }
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SoldTo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Date)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ShipTo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Note)
                                    </td>

                                </tr>
                            }
                        </tbody>

                    </table>
                </div>
            </div>
            
        </div>
    </div>
</div>
<script src="~/assets/datatable/datatables.min.js"></script>
<partial name="FileUploadModal" />
<script>

    $(document).ready(function () {
        $('.nav-request').addClass('active');
        $('.nav-request > div > span').css('color','white');
        $('.nav-rq-his-so').addClass('active');
        $('#navRequest').addClass('show');
        $('#new-list').click(function () {
            $('#file-modal').modal('toggle');
        });
        $('#datatable-search').DataTable();
        
    });
</script>
