@model IEnumerable<NMVS.Models.DbModels.Unqualified>

@{
    ViewData["Title"] = "Unqualified item";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mt-4">
    <div class="col-12">
        <div class="card">
            <!-- Card header -->
            <div class="card-header">
                <h3 class="mb-0">@ViewData["Title"]</h3>
            </div>
            <div class="table-responsive card-body">
                <table class="table table-bordered table-condensed" width="100%" id="datatable-search">
                    <thead>
                        <tr>
                            <th>
                                No.
                            </th>
                            <th>
                                Item No.
                            </th>
                            <th>
                                Inventory Id
                            </th>
                            <th>
                                Quantity
                            </th>
                            <th>
                                Description
                            </th>
                            <th>
                                Recycle
                            </th>
                            <th>
                                Dispose
                            </th>
                            <th>
                                Note
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr id="tr-@item.UqId">
                            <td>
                                <span class="btn btn-outline-primary" onclick="takeAction(@item.UqId);">@item.UqId</span>
                            </td>
                            <td class="text-sm font-weight-normal pt-no">
                                @Html.DisplayFor(modelItem => item.ItemNo)
                            </td>
                            <td class="pt-id">
                                @Html.DisplayFor(modelItem => item.PtId)
                            </td>
                            <td class="tt-qty">
                                @Html.DisplayFor(modelItem => item.Quantity)
                            </td>
                            <td style="white-space: normal;">
                                <span >@Html.DisplayFor(modelItem => item.Description)</span>
                            </td>
                            <td class="rec-qty">
                                @Html.DisplayFor(modelItem => item.RecycleQty)
                            </td>
                            <td class="dis-qty">
                                @Html.DisplayFor(modelItem => item.DisposedQty)
                            </td>
                            <td style="white-space: normal;">
                                @Html.DisplayFor(modelItem => item.Note)
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
            
        </div>
    </div>
</div>

<script src="~/assets/datatable/datatables.min.js"></script>
<script>

    $(document).ready(function () {
        $('.side-unq').addClass('active');
        $('#datatable-search').DataTable();
    });
</script>

<partial name="UnqualifiedModal" />