@model IEnumerable<NMVS.Models.DbModels.GeneralizedCode>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mt-4">
    <div class="col-12">
        <div class="card">
            <!-- Card header -->
            <div class="card-header">
                <h3 class="mb-0">@ViewData["Title"]</h3>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-flush" id="datatable-search">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.CodeFldName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CodeValue)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CodeDesc)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CodeFldName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CodeValue)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CodeDesc)
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.CodeNo">Edit</a> |
                                        <a asp-action="Details" asp-route-id="@item.CodeNo">Details</a> |
                                        <a asp-action="Delete" asp-route-id="@item.CodeNo">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer">

                <div class="row col-12">
                    <span class="col-auto">
                        <a asp-action="Create" class="btn btn-sm btn-outline-info">
                            Add new
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/assets/datatable/datatables.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $('.nav-gen').addClass('active');
        $('#datatable-search').DataTable();
    });
</script>
