@model NMVS.Models.DbModels.GeneralizedCode

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>GeneralizedCode</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodeFldName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodeFldName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodeValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodeValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodeDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodeDesc)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CodeNo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
