@model NMVS.Models.DbModels.Shipper

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Shipper</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShpDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShpDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Driver)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Driver)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DrContact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DrContact)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShpTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShpTo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShpVia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShpVia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateIn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateIn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActualIn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActualIn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActualOut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActualOut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CheckInBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CheckInBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CheckOutBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CheckOutBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Loc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Loc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegisteredBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegisteredBy)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ShpId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
