@model IEnumerable<NMVS.Models.DbModels.SystemMessage>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<ul>
    <li>
        Movement: 0~99
    </li>
    <li>
        Configuration Data: 100~199
    </li>
    <li>
        System: 200~299
    </li>
    <li>
        Excel Import: 300~399
    </li>
    <li>
        Usage: 400~499
    </li>
</ul>
<table class="table">
    <thead>
        <tr>
            <th>
                Msg Id
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MsgNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MsgNo">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MsgNo">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MsgNo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
