@model IEnumerable<NMVS.Models.DbModels.ItemData>

@{
    ViewData["Title"] = "Item data browse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mt-4">
    <div class="col-12">
        <div class="card">
            <!-- Card header -->
            <div class="card-header">
                <h3 class="mb-0">@ViewData["Title"]</h3>
            </div>
            <div class="table-responsive">
                <table class="table table-flush" id="datatable-search">
                    <thead>
                        <tr>
                            <th>Item No.</th>
                            <th>
                                @Html.DisplayNameFor(model => model.ItemName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ItemUm)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ItemPkg)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ItemPkgQty)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Flammable)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ItemWhUnit)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Active)
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
            <div class="card-footer">

                <div class="row col-12">
                    <span class="col-auto">
                        <a asp-action="AddItem" class="btn btn-sm btn-outline-info">
                            Add item
                        </a>
                    </span>
                    <span class="col-auto">
                        <button class="btn btn-sm btn-outline-info" id="new-cust">
                            <span class="fa fa-cloud-upload"></span>
                            <span>Upload</span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<partial name="FileUploadModal" />
<script src="~/assets/datatable/datatables.min.js"></script>
<partial name="_ClipboardSave" />
<script>

    $.ajax({
        'url': apiUrl + "/api/ItemData/GetItemDataList",
        'method': "GET",
        'contentType': 'application/json'
    }).done(function (data) {
        $('#datatable-search').dataTable({
            "aaData": data,
            "columns": [
                {
                    data: "custCode",
                    render: function (data, type, item) {
                        return '<button class="btn dropdown-toggle" type="button"'
                            + 'data-bs-toggle="dropdown" aria-expanded="false">'
                            + item.itemNo
                            + '</button>'
                            + '<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">'
                            + '<li>'
                            + '<a href="/Customers/UpdateItem/' + item.itemNo + '" class="dropdown-item">'
                            + '<span class="fa fa-pen"> Edit</span></a>'
                            + '</li>'
                            + '<li>'
                            + '<div class="dropdown-item" onclick="saveToClipboard(\'' + item.itemNo + '\')">'
                            + '<span class="fa fa-copy"></span>'
                            + '  Copy'
                            + '</div>'
                            + '</li>'
                            + '</ul>'
                    }
                },
                { "data": "itemName" },
                { "data": "itemUm" },
                { "data": "itemPkg" },
                { "data": "itemPkgQty" },
                { "data": "itemWhUnit" },
                {
                    data: "flammable",
                    render: function (data, type, customer) {
                        if (customer.itemWhUnit == true) {
                            return `<span class="badge bg-danger">Flammable<span>`
                        } else {
                            return `<span class="badge bg-secondary">Nomarl<span>`
                        }
                    }
                },
                {
                    data: "active",
                    render: function (data, type, customer) {
                        if (customer.active == true) {
                            return `<span class="badge bg-success">Active<span>`
                        } else {
                            return `<span class="badge bg-secondary">Inactive<span>`
                        }
                    }
                }
            ]
        })
    })

    $(document).ready(function () {
        $('.nav-item-data').addClass('active');
        $('#new-cust').click(function () {
            $('#file-modal').modal('toggle');
        });
    });
</script>