@model NMVS.Models.DbModels.Loc

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Loc</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocCmmt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocCmmt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocCap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocCap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocRemain)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocRemain)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocHolding)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocHolding)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocOutgo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocOutgo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Direct)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Direct)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WhCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WhCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Flammable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Flammable)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.LocCode">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
