@model NMVS.Models.DbModels.Loc

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mt-4">
    <div class="col-12">
        <div class="card">
            <!-- Card header -->
            <div class="card-header">
                <h3 class="mb-0">@ViewData["Title"]</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <form asp-action="UpdateLoc">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="LocCode" />
                            <input type="hidden" asp-for="LocHolding" />
                            @*<input type="hidden" asp-for="LocOutgo" />*@
                            <div class="form-group">
                                <label asp-for="LocDesc" class="control-label"></label>
                                <input asp-for="LocDesc" class="form-control" />
                                <span asp-validation-for="LocDesc" class="text-danger"></span>
                            </div>
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="Flammable" /> @Html.DisplayNameFor(model => model.Flammable) <span class="fa fa-fire-extinguisher"></span>
                                </label>
                            </div>
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="LocStatus" /> @Html.DisplayNameFor(model => model.LocStatus)
                                </label>
                            </div>
                            <div class="form-group">
                                <label asp-for="LocCmmt" class="control-label"></label>
                                <input asp-for="LocCmmt" class="form-control" />
                                <span asp-validation-for="LocCmmt" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="LocType" class="control-label"></label>
                                @Html.DropDownList("LocType", new SelectList(ViewBag.LocType, "Code", "Desc"), new { @class = "form-control" })
                                <span asp-validation-for="LocType" class="text-danger"></span>
                            </div>
                            <div class="row col-md-12">
                                <div class="form-group col-6">
                                    <label asp-for="LocCap" class="control-label"></label>
                                    <input asp-for="LocCap" class="form-control" type="number" step="0.001" />
                                    <span asp-validation-for="LocCap" class="text-danger"></span>
                                </div>

                                <div class="form-group col-6">
                                    <label asp-for="LocRemain" class="control-label"></label>
                                    <input asp-for="LocRemain" class="form-control" type="number" step="0.001" readonly/>
                                    <span asp-validation-for="LocRemain" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="Direct" /> @Html.DisplayNameFor(model => model.Direct)
                                </label>
                            </div>
                            <div class="form-group">
                                <label asp-for="WhCode" class="control-label"></label>
                                @Html.DropDownList("WhCode", new SelectList(ViewBag.Whs, "Code", "Desc"), new { @class = "form-control" })
                                <span asp-validation-for="WhCode" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Submit" class="btn btn-primary" />

                                <a asp-action="Browse" class="btn btn-secondary">Back to List</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script src="~/assets/js/notify.js"></script>
<script>
    $(document).ready(function () {
        $('.nav-wh').addClass('active');
        var remain = parseFloat($('#LocRemain').val());
        var cap = parseFloat($('#LocCap').val());

        $('#LocCap').on("change", function () {
            var newCap = parseFloat($('#LocCap').val());
            if (newCap > cap) {
                $('#LocRemain').val(remain + newCap - cap);
                $.notify("upper");
            }
            if (newCap < cap && remain > 0) {
                var result = remain + newCap - cap;
                if (result > 0) {
                    $.notify("down");
                    $('#LocRemain').val(result);
                } else {
                    $.notify("down");
                    $('#LocRemain').val(0);
                    
                }
            }
            if (newCap == cap) {
                $('#LocRemain').val(remain);
            }
        });
    });
</script>