<!-- Modal -->

<div class="modal" tabindex="-1" id="loc-modal" >
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content" style="height: 100%">
            <div class="modal-header">
                <h5 class="modal-title">Location</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table " id="supplier-tb">
                    <thead>
                        <tr>
                            <th>
                                Location code
                            </th>
                            <th>
                                Location name
                            </th>
                            <th>
                                Warehouse
                            </th>
                            <th>
                                Site
                            </th>
                            <th>
                                Remaining
                            </th>
                            <th>
                                Booked
                            </th>
                            <th>
                                Out go
                            </th>
                        </tr>

                    </thead>

                    <tbody>
                        @foreach (var item in ViewBag.LocCode)
                        {
                        <tr>
                            <td>
                                <button type="button" class="btn btn-outline-primary" onclick="setLoc('@item.LocCode', '@item.LocDesc')">@item.LocCode</button>
                            </td>
                            <td>
                                @item.LocDesc
                            </td>
                            <td>
                                @item.WhCode
                            </td>
                            <td>
                                @item.LocCmmt
                            </td>
                            <td>
                                @item.LocRemain
                            </td>
                            <td>
                                @item.LocHolding
                            </td>
                            <td>
                                @item.LocOutgo
                            </td>
                        </tr>
                        }

                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


