@model IEnumerable<NMVS.Models.ViewModels.AllocateOrderVm>

@{
    ViewData["Title"] = "Allocate orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mt-4">
    <div class="col-12">
        <div class="card">
            <!-- Card header -->
            <div class="card-header">
                <h3 class="mb-0">@ViewData["Title"]</h3>
            </div>
            <div class="table-responsive card-body">
                <table class="table table-flush" id="datatable-search">
                    <thead>
                        <tr>
                            <th>Inventory Id</th>
                            <th>
                                Item No.
                            </th>
                            <th>
                                Quantity
                            </th>
                            <th>
                                Moved
                            </th>
                            <th>
                                Reported
                            </th>
                            <th>
                                From
                            </th>
                            <th>
                                To
                            </th>
                            <th>
                                Destination Description
                            </th>
                            <th>
                                Time
                            </th>
                            <th>
                                Moved by
                            </th>
                            <th>
                                Confirmation
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr id="tr-@item.OrderId">
                                
                                <td>
                                    @Html.DisplayFor(modelItem => item.PtId)
                                </td>
                                <td>
                                    
                                    @Html.DisplayFor(modelItem => item.ItemName)
                                    <span class="ord-no" hidden>@item.OrderId</span>
                                    <span class="rq-no" hidden>@item.RequestId</span>
                                    <span class="ord-moved" hidden>@item.Moved</span>
                                    <span class="ord-qty" hidden>@item.Qty</span>
                                    <span class="ord-reported" hidden>@item.Reported</span>
                                </td>

                                <td class="td-qty">                                    
                                    @Html.DisplayFor(modelItem => item.Qty)
                                </td>
                                <td class="td-moved">
                                    @Html.DisplayFor(modelItem => item.Moved)
                                </td>
                                <td class="td-reported">
                                    @Html.DisplayFor(modelItem => item.Reported)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AlcFrom)
                                </td>
                                <td class="to-code">
                                    @Html.DisplayFor(modelItem => item.AlcToCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AlcToDesc)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MvmTime)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ConfirmBy)
                                </td>
                                <td>
                                    @if (item.Confirmed == true || item.Moved >= item.Qty)
                                    {
                                        <p class="badge bg-success"> Completed </p>
                                    }
                                    else
                                    {
                                        @if (User.IsInRole("Move inventory"))
                                        {


                                            <div class="p-2 bd-highlight">
                                                <button class="btn btn-info modal-btn">
                                                    Submit
                                                </button>
                                                <button class="btn btn-danger report-btn">
                                                    Report
                                                </button>
                                            </div>
                                        }
                                        else
                                        {
                                            <span class="badge bg-secondary">Incomplete</span>
                                        }
                                    }
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
<script src="~/assets/js/notify.js"></script>
<script src="~/assets/datatable/datatables.min.js"></script>
<script src="~/assets/js/qr/html5-qrcode.min.js"></script>
<script>
    var routeURL = location.protocol + "//" + location.host;


    $(document).ready(function () {
        $('.nav-movement').addClass('active');
        $('.nav-movement > div > span').css('color', 'white');
        $('.nav-order').addClass('active');
        $('#nav-movement').addClass('show');
        $('#new-sup').click(function () {
            $('#file-modal').modal('toggle');
        });
        $('#datatable-search').DataTable({
            "order": [[10, "asc"]]
        });

    });
</script>
<partial name="OrdersModal" />