@model IEnumerable<NMVS.Models.DbModels.Supplier>

@{
    ViewData["Title"] = "Suppliers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mt-4">
    <div class="col-12">
        <div class="card">
            <!-- Card header -->
            <div class="card-header">
                <h5 class="mb-0">@ViewData["Title"]</h5>
            </div>
            <div class="table-responsive">
                <table class="table table-flush" id="datatable-search">
                    <thead class="thead-light">
                        <tr>
                            <th>Supplier code</th>
                            <th>Supplier Description</th>
                            <th>Active</th>
                            <th>Tax code</th>
                            <th>Address</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Note</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td class="text-sm  font-weight-normal">
                                <a class="text-warning" href="/Suppliers/UpdateSupplier?code=@item.SupCode">@item.SupCode</a>
                            </td>
                            <td class="text-sm font-weight-normal">@Html.DisplayFor(m => item.SupDesc)</td>
                            <td class="text-sm font-weight-normal">
                                @if (item.Active)
                                {
                                    <span class="badge bg-success">Yes</span>
                                }
                                else
                                {
                                    <span class="badge bg-secondary">Inactive</span>
                                }
                            </td>
                            <td class="text-sm font-weight-normal">@Html.DisplayFor(m => item.TaxCode)</td>
                            <td class="text-sm font-weight-normal">@Html.DisplayFor(m => item.Addr)</td>
                            <td class="text-sm font-weight-normal">@Html.DisplayFor(m => item.Email1)</td>
                            <td class="text-sm font-weight-normal">@Html.DisplayFor(m => item.Phone1)</td>
                            <td class="text-sm font-weight-normal">@Html.DisplayFor(m => item.Note)</td>

                        </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="card-footer">

                <div class="row col-12">
                    <span class="col-auto">
                        <a asp-action="NewSupplier" class="btn btn-sm btn-outline-info">
                            New Supplier
                        </a>
                    </span>

                    <span class="col-auto">
                        <button class="btn btn-sm btn-outline-info" id="new-sup">
                            <span class="fa fa-cloud-upload"></span>
                            <span>Upload</span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<partial name="FileUploadModal" />
<script src="~/assets/js/plugins/datatables.js"></script>
<script type="text/javascript">
    const dataTableBasic = new simpleDatatables.DataTable("#datatable-search", {
        searchable: false,
        fixedHeight: true
    });
     
</script>
<script>
    $(document).ready(function () {
        $('.nav-sup').addClass('active');
        $('#new-sup').click(function () {
            $('#file-modal').modal('toggle');
        });
    });
</script>
