@model NMVS.Models.ViewModels.UserRoleVm
@{

}
@if (Model != null)
{
    <form role="form" id="user-role" method="post" asp-action="SeedingRole" asp-controller="User">
        <div class="row mt-4">
            <div class="col-12">
                <div class="card">
                    <!-- Card header -->
                    <div class="card-header">
                        <h5 class="mb-0">@ViewData["Title"]</h5>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-flush" id="datatable-search">
                            <thead class="thead-light">
                                <tr>
                                    <th>User account</th>
                                    <th>User management</th>
                                    <th>Request Inventory</th>
                                    <th>Handle Request</th>
                                    <th>Receive Inventory</th>
                                    <th>QC</th>
                                    <th>Create SO</th>
                                    <th>Approve SO</th>
                                    <th>Register vehicle</th>
                                    <th>Guard</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <td class="text-sm font-weight-normal">
                                        @Html.DisplayFor(x => Model.UserName)
                                    </td>
                                    <td class="text-sm font-weight-normal">
                                        @Html.EditorFor(x => Model.UserManagement)
                                    </td>
                                    <td class="text-sm font-weight-normal">
                                        @Html.EditorFor(x => Model.RequestInv)
                                    </td>
                                    <td class="text-sm font-weight-normal">
                                        @Html.EditorFor(x => Model.HandleRequest)
                                    </td>
                                    <td class="text-sm font-weight-normal">
                                        @Html.EditorFor(x => Model.ReceiveInv)
                                    </td>
                                    <td class="text-sm font-weight-normal">
                                        @Html.EditorFor(x => Model.QC)
                                    </td>
                                    <td class="text-sm font-weight-normal">
                                        @Html.EditorFor(x => Model.CreateSO)
                                    </td>
                                    <td class="text-sm font-weight-normal">
                                        @Html.EditorFor(x => Model.AppSO)
                                    </td>
                                    <td class="text-sm font-weight-normal">
                                        @Html.EditorFor(x => Model.RegVehicle)
                                    </td>
                                    <td class="text-sm font-weight-normal">
                                        @Html.EditorFor(x => Model.Guard)
                                    </td>
                                </tr>

                            </tbody>
                        </table>

                    </div>

                </div>
            </div>
        </div>
    </form>
}


