@model IEnumerable<NMVS.Models.DbModels.Warehouse>

@{
    ViewData["Title"] = "Warehouse browse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mt-4">
    <div class="col-12">
        <div class="card">
            <!-- Card header -->
            <div class="card-header">
                <h5 class="mb-0">@ViewData["Title"]</h5>
            </div>
            <div class="table-responsive">
                <table class="table table-flush" id="datatable-search">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.WhCode)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.WhDesc)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.WhStatus)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.WhCmmt)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.SiCode)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Type)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <span class="btn btn-sm btn-outline-warning"><a  asp-action="UpdateWH" asp-route-id="@item.WhCode">@item.WhCode</a></span>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.WhDesc)
                                </td>
                                <td class="text-sm font-weight-normal">
                                    @if (item.WhStatus)
                                    {
                                        <span class="badge bg-success">Yes</span>
                                    }
                                    else
                                    {
                                        <span class="badge bg-secondary">Inactive</span>
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.WhCmmt)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SiCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Type)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="card-footer">

                <div class="row col-12">
                    <span class="col-auto">
                        <a asp-action="AddWarehouse" class="btn btn-sm btn-outline-info">
                            Add warehouse
                        </a>
                    </span>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/assets/js/plugins/datatables.js"></script>
<script type="text/javascript">
    const dataTableBasic = new simpleDatatables.DataTable("#datatable-search", {
        searchable: false,
        fixedHeight: true
    });

</script>
<script>
    $(document).ready(function () {
        $('.nav-wh').addClass('active');
    });
</script>
