@model NMVS.Models.DbModels.Warehouse

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Warehouse</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WhDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WhDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WhStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WhStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WhCmmt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WhCmmt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SiCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SiCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.WhCode">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
